html {
  // scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.app {
  &.portfolio-active .main {
    width: 100vw !important;
  }
}

.portfolio {
  min-height: 100vh;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0c0c1d;
  color: lightgray;

  a {
    text-decoration: none;
    color: inherit;
  }

  section {
    height: 100vh;
    scroll-snap-align: center;
  }
}
