@import "../../style.scss";

.ideaBoard {
  display: flex;
  width: 100vw;
  height: 100vw;
  background-color: #f4f4f4;
  flex-direction: column;

  .wrapp {
    display: flex;
    height: 100%;

    .contents {
      flex: 9;
      color: white;
    }
  }
}
