@import "../../../style.scss";

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 150px;
  background-color: #333333;
  gap: 20px;
  height: 100vw;

  .logo {
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: "Noto Sans KR";

    &:hover {
      color: $greenColor;
    }
  }

  .menuNm {
    padding: 7px;
    border-radius: 5px; // 둥근 모서리 추가
    width: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: $greenColor;
      color: #262626;
    }
  }
}
