.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  .homeBox {
    width: 250px;
    height: 28px;
    color: #fff;
    margin-top: 2px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #fff;
      color: #3498db;
    }
  }

  .icon {
    font-size: 1.5rem;
  }
}
